 # Compiled Object files
*.slo
*.lo
*.o
*.d

# Compiled Dynamic libraries
*.so

#Compiled Static libraries
*.lai
*.la
*.a


# some backup file with ~
*~
*.udb
*.tar
*.bz
*.bz2
*.gz

#build dir
/build/klee/
/s2e-*/
/test/
/ucoretest/
/linuxtest/
/redhattest/
/fedora18test/
/build/llvm/
/build/llvm-2.6/
/build/llvm-gcc-4.2-2.6-x86_64-linux/
/build/qemu-debug/
/build/qemu-release/
/build/stamps/
/build/stp/
/build/tools/
/build/compile1

